{% extends 'base.html' %}

{% block content %}


<div class="faq-container">

    <h2>Veelgestelde vragen</h2>

    <div class="faq-item">
        <input type="checkbox" id="q1">
        <label for="q1" class="faq-question">1. Wat is FoodInsight precies? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            FoodInsight is een platform waar horecazaken hun overgebleven voedsel duidelijk in een overzicht 
            kunnen zien en dit voedsel kunnen zetten in boxen. Consumenten kunnen deze boxen kopen tegen een lage prijs, 
            waardoor voedselverspilling wordt verminderd.
            </p>
        </div>
    </div>
    
    <div class="faq-item">
        <input type="checkbox" id="q2">
        <label for="q2" class="faq-question">2. Hoe werkt het voor consumenten? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            Je bekijkt de beschikbare boxen. Je ziet precies wat erin zit. 
            Als je de box wilt ophalen, moet je hem reserveren en ophalen op het aangegeven tijdstip.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="q3">
        <label for="q3" class="faq-question">3. Hoe werkt het voor horeca? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            Horecazaken kunnen in principe compleet zelfstandig hun boxen samenstellen. 
            Ze kunnen zelf het aantal boxen bepalen, hun eigen prijs instellen, eigen labels toevoegen 
            en eigen ophaaltijden kiezen.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="q4">
        <label for="q4" class="faq-question">4. Moet ik een account aanmaken om boxen te kopen? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            Ja, je hebt een gratis account nodig om boxen te reserveren en op te halen.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <input type="checkbox" id="q5">
        <label for="q5" class="faq-question">5. Wat kost FoodInsight voor ondernemers? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            Horecaondernemers betalen een vast bedrag van €10 per maand. 
            Er is geen commissie en we houden geen percentage in van verkochte boxen. 
            De ondernemer houdt 100% van de opbrengst.
            </p>
        </div>
    </div>
     <div class="faq-item">
        <input type="checkbox" id="q6">
        <label for="q6" class="faq-question">6. Hoe weet ik waar ik mijn box moet ophalen? <span class="arrow">▼</span></label>
        <div class="faq-answer">
            <p>
            Elke boxpagina bevat het adres van de horecazaak. Daar kan je dan het adres vinden van de plek 
            waar je het kan ophalen. Ook bevat het het tijdstip waarop je kunt ophalen.
            </p>
        </div>
    </div>

</div>

{% endblock %}

