{% extends 'base.html' %}

{% block header %}
<h1 class="pagina-titel">Inloggen als horeca</h1>
{% endblock %}

{% block content %}
<form class="huisstijl-form" method = "POST">

    <div>
        <label for = "email"><strong>📩 Email</strong></label>
        <input type="email" id = "email" name="email" placeholder="Voer uw email in ">
    </div>

    <div>
        <label for = "Pass"><strong>🔒 Wachtwoord</strong></label>
        <input type="password" id = "Pass" name="Pass" placeholder="Voer uw wachtwoord in">
    </div>

{% if error %}
<p style = "color:red;">{{ error}}</p>
{% endif %}

    <button type="submit" class="submit-btn">🔒 Inloggen</button>
<a href="{{ url_for('events.aanmelden') }}">Nog geen account?</a>

</form>
{% endblock %}
